services:

  postgres:
    image: postgres:17
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: mydatabase
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    networks:
      - appnet
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test -d mydatabase"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    command: ["python", "-m", "backend"]
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - appnet

  web:
    build:
      context: ./frontend/web-app
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - appnet

  flutter-web:
    image: ghcr.io/cirruslabs/flutter:stable
    container_name: flutter-web
    working_dir: /app
    volumes:
      - ./frontend/web-app/photex:/app
    command: >
      flutter run -d web-server
      --web-hostname 0.0.0.0
      --web-port 80
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  pgdata:
    driver: local