name: Flutter Coverage CD

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  coverage:
    runs-on: ubuntu-latest

    environment:
      name: github-pages

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.7"
          architecture: x64
          cache: true

      - name: Install dependencies
        working-directory: frontend/web-app/photex
        run: flutter pub get

      - name: Run tests with coverage
        working-directory: frontend/web-app/photex
        run: flutter test --coverage

      - name: Convert coverage to HTML
        working-directory: frontend/web-app/photex
        run: |
          sudo apt-get update
          sudo apt-get install -y lcov
          genhtml coverage/lcov.info -o coverage/html

      - name: Upload coverage artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: frontend/web-app/photex/coverage/html

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
